<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ games</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Tahoma, Geneva, sans-serif;
        }
        table td {
            padding: 15px;
        }
        table tbody th {
            background-color: #54585d;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid #54585d;
        }
        table tbody td {
            color: #636363;
            border: 1px solid #dddfe1;
        }
        table tbody tr {
            background-color: #f9fafb;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<%- include ('../header.ejs')%>
<main>
    <h1>User Profile</h1>
    <table>
        <tbody>
        <tr>
            <th>Pseudo</th>
            <th>Age</th>
            <th>About me</th>
        </tr>
        <tr>
            <td><%=userResult.id_name%></td>
            <td><%=userResult.age%></td>
            <td><%=userResult.about_me%></td>
        </tr>
        </tbody>
    </table>
    <form action="/logout">
        <button type="submit"><strong>Logout</strong></button>
    </form>
</main>

<script src="/scripts/user_profile.js"></script>
<script> const mountedApp = app.mount()</script>
<%- include ('../footer.ejs')%>
</body>
</html>