<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<data id="data" hidden><%=JSON.stringify({game:query.game, pseudo:query.pseudo, difficulty:query.difficultyString})%></data>
<%- include ('../header.ejs')%>
<main id="app">
<p> Hi <%=query.pseudo%> !<br>You are going to play <%=query.game%> in difficulty <%=query.difficultyString%> !</p>
  <div class="game">
    <div id="left-pan">
      <button class="restart-button" @click="start()">Start Game</button>
      <p class="turn-indicator" v-bind:hidden="!updatable && !gameStarted">Your turn</p>
      <p class="win-message">{{message}}</p>
    </div>
    <div id="right-pan">
    <table class="board">
      <tbody>
      <tr v-for="line in [0,1,2]" v-bind:id="'line:'+line">
        <td v-for="col in [0,1,2]" class="cell" v-bind:id="'cell:'+line+','+col" v-on:click="updateCell(line,col)">
          <img v-bind:src="imageMatrix[line][col]">
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</main>

<script src="scripts/tic_tac_toe.js"></script>
<script> const mountedApp = app.mount('#app')</script>
<%- include ('../footer.ejs')%>

</body>
</html>