<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whack-a-Mole</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include ('../header.ejs')%>
<main>
<p> Hi <%=query.pseudo%> !<br>
  You are going to play <%=query.game%> in difficulty <%=query.difficultyString%> !</p>
  <div class="timer">
    Timer:<Timer id="timer"></Timer>
  </div>
  <div class="game-container">
    <!-- Grid for moles -->
    <div class="hole hole1"></div>
    <div class="hole hole2"></div>
    <div class="hole hole3"></div>
    <div class="hole hole4"></div>
    <div class="hole hole5"></div>
    <div class="hole hole6"></div>
    <div class="hole hole7"></div>
    <div class="hole hole8"></div>
    <div class="hole hole9"></div>
  </div>
  <div class="scoreboard">
    <p>Score: <span id="score">0</span></p>
    <p>Time Left: <span id="time-left">30</span> seconds</p>
  </div>
</main>
<!--
<script src="whack_a_mole.js"></script>
-->
<%- include ('../footer.ejs')%>
</body>
</html>